* {
	margin: 0;
}

html {
	font-size: 6.25%
}

body {
	font-size: 16rem;
	padding: 16px;
	background-color: papayawhip;
}

fieldset {
	display: inline-block;
}

label {
	display: block;
}
label.inline {
	display: inline-block;
	margin-right: 8px;
}

.main {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	margin-bottom: 16px;
}


.create {
	flex: 0 0 auto;
}

#grid {
	display: inline-block;
	font-family: monospace;
	font-size: 16rem;
	outline: 1px solid black;
	margin-right: 16px;
	margin-bottom: 16px;
}

.row {
}

.cell {
	display: table-cell;
	width: 20rem;
	height: 20rem;
	background-color: white;
	text-transform: uppercase;
	text-align: center;
	border: 0.5px solid black;
}

.overwrite {
	background-color: cadetblue;
	color: white;
}

.isSelected {
	background-color: darkred;
	color: white;
}

#suggestions {
	padding: 0;
}
.suggestion {
	list-style-type: none;
}
.suggestion > * {
	display: inline-block;
}
[type="checkbox"] {
	margin-right: 0.5em;
}

#use-nextpage {
	margin-top: 8px;
	margin-right: 0.2em;
}

.check-label {
	display: inline-block;
}

.word-item:hover,
.word-item:focus {
	margin-left: -1em;
	list-style-type: none;
	text-decoration: underline;
}
.word-item:hover:before,
.word-item:focus:before {
	content: 'X';
	margin-right: 0.38em;
}

input:invalid + button {
	display: none;
}

@media print {
	.print-ghost {
		display: none;
	}

	body {
		background-color: white;
	}

	.overwrite {
		background-color: white;
		color: black;
	}

	fieldset,
	.suggestions {
		display: none;
	}

	#grid {
		margin: 1cm;
		outline: none;
	}

	.cell {
		border: none;
	}

	.word-items {
		column-count: 3;
		column-width: 28vw;
		padding: 0;
		margin-left: 16px;
		list-style-type: circle;
	}

	#use-nextpage:checked ~ .word-items {
		page-break-before: always;
		margin-top: 1cm;
	}
}
